* {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
    --spacing: 20px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);
    margin: 0 calc(var(--spacing) * 2);
    font: -apple-system-short-body;
    text-align: center;
}

p {
    max-width: 28rem;
    margin: 0;
}

button {
    padding: 6px 12px;
    border-radius: 6px;
    font: inherit;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios),
body.platform-ios .platform-mac,
body.platform-mac .platform-ios,
body:not(.state-on, .state-off) :is(.state-on, .state-off),
body.state-on :is(.state-off, .state-unknown),
body.state-off :is(.state-on, .state-unknown) {
    display: none;
}
